# Xcode
*.xcodeproj
xcuserdata/
*.xcworkspace
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
*.o
*.a
*.dylib

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Temporary files
*.swp
*.lock
*~

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# SPM
.build/
.swiftpm/

# Generated
*.dmg
